* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;	
}

.main__content {
    background-color: #F3F6F7;
    /* column-count: 2; */
    /* column-width: 20em; */
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* height: 100vh; */
    margin-top: 0;
    width: 100%;

}

.main__section {
	column-count: 3;
    height: 100%;
    max-width: 68%;
    margin-left: 0px;
}

.nav__container--tasklist {
	display: flex;
	flex-direction: column;
}

.header {
    align-items: center;
    background-color: #1F1F3D;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;

}

.header__title {
	margin: 10px 22px;
	padding-top: 6px;
	text-align: left;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}

.header__span {
	color: #FFC30C;
	font-weight: 800;

}

.li__text {
	display: inline;
}

.header__form {
    align-items: flex-end;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 16px 22px;
    width: 250px;
}

.header__form--searchimg {
	background-color: lightgrey;
    height: 40px;
    padding: 8px;
    width: 40px;
}

.header__search--input {
	height: 40px;
    text-align: center;
    width: 210px;
}

.nav {
	background-color: #587A8A;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 30%;

}

.nav__form {
	display: flex;
    flex-direction: column;
    height: 60%;
    margin-top: 50px;

}

.title__label,
.task__label {
	color: #F3F6F7;
    font-size: 1.25em;
    font-weight: 400;
    padding: 5px;
}

.title__input {
	display: flex;
	font-size: 1em;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    margin: 10px auto;
    width: 94%;
}

.task__input {
	display: flex;
	font-size: 1em;
    align-items: center;
    flex-direction: column;
    height: 70px;
    margin: 10px auto;
    width: 91%;
}

.task__add--button {
  	height: 70px;
    width: 64px;
    background-color: #1F1F3D;
    float: right;
    margin: 10px auto;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    align-items: right;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: -80px;
    padding: 8px;

}

.task__delete--button {
    height: 19px;
    width: 25px;
}

.nav__tasklist {
	color: white;
	display: inline-block;
	font-size: 1.25em;
	list-style: none;
	padding: 8px;
}


.top__create--button,
.top__clear--button,
.bottom__filter--button  {
	display: flex;
    align-content: center;
    align-items: center;
    background-color: #1F1F3D;
    color: #FFFFFF;
    flex-direction: column;
    font-size: 1.5em;
    height: 60px;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
}

.nav__bottom {
	border-top: 3px solid black;
	display: flex;
	flex-direction: column;
}

.top__create--button:disabled,
.top__clear--button:disabled {
	background-color: #4d4d98;
}



button:hover {
	background-color: #EF4A23;

}

.card {
	background-color: #EAF7FF;
    border: 1px solid #C7D3D8;
    display: inline-block;
    display: inline-block;
    padding: 1rem;
    width: 100%;
    min-width: 230px;
    margin: 0.25em;
}

.card.urgent {
	background-color: #FFE89D;
}

.card__header {
	border-bottom: 1px solid #C7D3D8;
	color: #1F1F3D;
}

.card__title {
	color: #1F1F3D;
	font-weight: bold;
}

.card__main {
	height: 80%;
	width: 100%;
}

.main--checkbox-empty,
.main--checkbox-complete {
	height: 15px;
    width: 20px;
    margin-top: 5px;
}

.card__footer {
	border-top: 1px solid #C7D3D8;
	display: flex;
	height: 30px;
	justify-content: space-between;
	padding: 6px;
	width: 100%

}

.nav__buttons--container {
	display: flex;
	flex-direction: column;
}

.card__img--delete,
.card__img--urgent {
	height: 25px;
    display: flex;
    margin-top: 5px;
    margin: 0 auto;
    text-align: center;
    width: 25px;	
}

.hidden {
	visibility: hidden;
}

li {
	list-style: none;
}

.card__prompt {
	background-color: #EAF7FF;
	border: 5px solid #C7D3D8;
	display: inline-block;
	display: inline-block;
	height: 50vh;
	margin: 0.25rem;
	padding: 1rem;
	width: 100%;
}

.prompt__message {
	color: #1F1F3D;
	font-size: 3rem;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

.card__list-item {
    font-size: 1.0rem;
    color: #1F1F3D;
    padding: 5px;
}

.check-styling{
	color: #3c6577;
	font-style: italic;
}

.urgent__tag,
.delete__tag {
	font-size: 0.5rem;
	color: #1F1F3D;
}


@media only screen and (max-width: 730px)  {

.header {
    height: 82px;
    margin-top: 15px;
    position: fixed;
    width: 100%;
}

.header__form {
    height: 31px;
    width: 250px;
}

.header__form--searchimg {
    background-color: lightgrey;
    height: 31px;
    width: 40px;
}

.header__search--input {
    height: 30px;
    width: 125px;
}

.main__content {
    background-color: #F3F6F7;
    height: 104vh;
    margin-top: -20px;
    width: 100%;
}

.nav{
    background-color: #587A8A;
    height: 100vh;
    width: 30%;
    margin-top: 97px;
}

.nav__form {
    margin-top: 26px;
 }

 .title__label, .task__label {
    font-size: 1.0rem;
}

.task__add--button {
    align-items: right;
    height: 41px;
    margin-right: 8px;
    margin: -50px auto;
    width: 44px;
}

.top__create--button, 
.top__clear--button, 
.bottom__filter--button {
    font-size: 1.0rem;
    height: 35px;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
}

.task__input {
    height: 39px;
    width: 95%;
}

.title__input {
    height: 35px;
    width: 95%;
}

.main__section {
    margin-top: 100px;
}
.card {
    margin: 0.5rem;
    padding: 1rem;
    width: 90%;
}

.card__list-item {
    font-size: 0.75rem;
}


.main--checkbox-empty,
.main--checkbox-complete {
    height: 10px;
    width: 20px;
}

.card__img--delete, 
.card__img--urgent {
    height: 21px;
    display: flex;
    margin-top: 5px;
    width: 25px;
}

.urgent__tag,
.delete__tag {
	font-size: 0.5rem;
}

}

